BQSim/build-rt/
BQSim/log/
RTSpMSpM/build/
RTSpMSpM/build-rt/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/*.o
**/*.a
**/*.so
**/*.ptx
**/*.cubin
**/*.nvfatbin
**/*.nvcache
**/*.log
**/*.tmp
**/.cache/
**/compile_commands.json
